.reviews__card_title {
  padding-top: 15px;
  margin: 0;
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}