.test__cover {
  width: 100%;
  height: 240px;
  background-image: url(/look_at_georgia/src/img/text_cover.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}
.test__cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.6;
}