.tour__link {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 21.79px;
  font-weight: 400;
  margin: 0;
  padding-left: 30px;
  font-style: italic;
  color: rgba(26, 26, 26, 1);
}
.tour__link:hover {
  opacity: 0.5;
  transition: 0.3s linear;
}